PULL_TO_REFRESH: "Tirer pour rafraîchir!"
RETRY: "Réessayez"
CANCEL: "Annuler"
SUBMIT: "Envoyer"
BACK: "Retour"
ERROR: "Quelque chose d'inattendu est survenu, veuillez réessayer."
ATTEMPT_TO_CONNECT: "Tentative de connection {{attempt}} sur {{attemptMax}}."
OK: "Ok"
YES: "Oui"
NO: "Non"
EMPTY_LIST: "La liste est vide!"
MENU: "Menu"
HOME: "Accueil"
TAGS: "Tags"
PAGES: "Pages"
POSTS: "Articles"
AUTHORS: "Auteurs"
SEARCH: "Chercher"
SOCIAL_NETWORKS: "Réseaux sociaux"
CATEGORIES: "Categories"
SETTINGS: "Paramètres"
CUSTOM_POSTS: "Custom posts"
CUSTOM_TAXO: "Custom Taxonomy"
CUSTOM_TAXO_TITLE: "{{term}}: {{name}}"
PUSH_NOTIFS: "Push notifications"
PUSH_NOTIF_TITLE: "Nouveau contenu!"
PUSH_NOTIF_TEXT: "Un nouvel Article/Page '{{postTitle}}' vient d'être publié sur {{appTitle}}, voulez-vous le consulter?"
BOOKMARKS: "Marque-pages"
BOOKMARKS_EMPTY: "Aucun marque-page pour le moment!"
BOOKMARK_ADDED: "Marque-page ajouté!"
BOOKMARK_REMOVED: "Marque-page supprimé!"
ZOOM: "Zoom"
CACHE_CLEAR: "Clear cache"
CACHE_CLEARED: "Cache cleared"
TITLE_TAGS: "Tags"
TITLE_TAG: "Tag: {{name}}"
TITLE_CATEGORIES: "Categories"
TITLE_CATEGORY: "Categorie: {{name}}"
TITLE_HOME: "Accueil"
TITLE_SEARCH: "Recherche"
TITLE_PAGES: "Pages"
TITLE_POSTS: "Articles"
TITLE_USERS: "Auteurs"
TITLE_USER: "Auteur"
SHARED: "Partagé!"
AUTHORS: "Auteurs"
AUTHOR: "Auteur"
AUTHOR_TITLE: "Auteur: {{name}}"
"pages":
    "title": "Pages"
"posts":
    "title": "Articles"
    "featured": "A la Une"
"post":
    "comments": "Commentaires"
    "openInBrowser": "Ouvrir dans un navigateur"
"about":
    "title": "A propos"
"languages":
    "en": "Anglais"
    "fr": "Français"
    "zh": "Chinois"
    "es": "Espagnol"
    "pl": "Polonais"
    "de": "Allemand"
    "pt": "Portugais"
    "it": "Italien"
    "nl": "Néerlandais"
